.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #0055a4;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  box-sizing: border-box;
}

.h1 {
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
  font-size: 2em;
}

.usuariotxt {
  text-align: center;
  color: #fff;
  margin-bottom: 10px;
  font-size: 1.2em;
}

.postsList {
  list-style: none;
  padding: 0;
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 20px;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.container:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.header {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #eee;
  justify-content: space-between;
}

.header .left {
  display: flex;
  align-items: center;
}

.profilePic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
  border: 2px solid #0055a4;
}

.profileName {
  font-weight: bold;
  color: #0055a4;
  font-size: 1.1em;
}

.date {
  font-weight: bold;
  color: #0055a4;
  font-size: 1.1em;
}


.media {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.media img, 
.media video 
.media audio {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.videoContainer {
  position: relative;
  width: 100%;
  padding-top: 75%; /* Proporção de aspecto 4:3 (calculado como 3 / 4 * 100) */
  overflow: hidden;
}

.videoContainer video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* Ocultar o botão de tela cheia no Chrome */
.video::-webkit-media-controls-fullscreen-button,
.audio::-webkit-media-controls-fullscreen-button {
  display: none;
}

/* Ocultar o botão de tela cheia no Firefox */
.video::-moz-fullscreen-button,
.audio::-moz-fullscreen-button {
  display: none;
}

/* Ocultar o botão de tela cheia no IE/Edge */
.video::-ms-fullscreen-button,
.audio::-ms-fullscreen-button {
  display: none;
}


.comment {
  padding: 15px;
  color: #333;
  font-size: 1em;
  line-height: 1.5;
}

@media (max-width: 600px) {
  .h1 {
    font-size: 1.5em;
  }

  .profilePic {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }

  .profileName {
    font-size: 1em;
  }

  .comment {
    padding: 10px;
  }

  .container {
    margin-bottom: 15px;
  }
}
